/**
* It seems that only Java 8 supports the @font-face property.
*
@font-face {
  font-family: symbols;
  src: url('digital-7.ttf');
}
*/

#timeLabel
{
    /* -fx-font-family: digital-7; */
}


#contentBox {
}

#root {
   -fx-background-color: rgba(44, 62, 80, 0.7);
   -fx-background-radius: 10 10 10 10;
}

#button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
   -fx-graphic: url('message.png');
   -fx-padding: 1px;
   
    /*-fx-background-color: linear-gradient(#61a2b1, #2A5058);*/
    /*-fx-font-family: "Arial Narrow";*/
    /*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );*/
}